
/* // Bootstrap Overlay */
.fs-1, .fs-2, .fs-3 {
    font-family: museo !important
}

.btn{
    border-radius: 15pX    !important;
    border:0px;
    font-family: museo;
   
}
.btn-success {
    background-color: var(--mw-green) !important;
}
.bg-mw-warning {
    background-color: var(--mw-yellow) !important;
}
.bg-gray{
    background-color: var(--mw-gray);
}
.text-mw-success {
    color: var(--mw-green);
}
.text-mw-success {
    color: var(--mw-yellow);
}
.text-gray{
    color: var(--mw-gray);
}
.text-l-gray{
    color: lightgray;
}
.rounded-20{
    border-radius: 15px;
}
.mw-h-100 {
    min-height: 100vh;
    max-height: 100vh;
  }

/* // Fonts */

.muli {
    font-family: muli;
}
.muli-bold {
    font-family: 'muli bold';
}
.museo {
    font-family: museo;
}

/* // Tags */

div, span, .__input {
    /* // .muli */
}
/* // display: -webkit-flex */
